<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ path('app_homepage') }}">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_cgu') }}">
                        CGU
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_faq') }}">
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal" href="#">
                        Contact
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2016, made with <i class="material-icons">favorite</i> by dofla in Dressrossa.
        </div>
    </div>
</footer>