<div class="header header-filter" id="bkg-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="brand">
                    {% block brand %}
                        <h1>Material Kit.</h1>
                        <h3>A Badass Bootstrap UI Kit based on Material Design.</h3>
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>