{% extends 'layout.html.twig' %}

{% block title %} - Contrat général de vente{% endblock %}

{% block brand %}
    <h1>CGU*</h1>
    <h3>Les condition d'utilisation</h3>
{% endblock %}

{% block body %}
    <h2>Condition général d'utilisation</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias doloremque, est ex facere, illum impedit modi porro quaerat quod reprehenderit tempore. Animi, consequuntur debitis dolores doloribus earum, eligendi eum libero modi molestiae natus porro praesentium quas, vel? Architecto aspernatur aut cupiditate debitis doloremque ducimus earum eligendi error excepturi fuga impedit ipsa itaque iure, labore laborum, libero maxime non, optio quia reiciendis rem repellendus tempora voluptatibus? Aliquam aliquid commodi, consectetur cupiditate dolore dolorum eaque eligendi eveniet, ex expedita facilis fuga impedit molestias natus nemo nobis non nostrum officia officiis omnis pariatur porro provident, quam qui quidem quo quod sunt tempora tempore voluptatum. Accusantium aliquam, at aut commodi dignissimos dolores doloribus dolorum ducimus esse facere fugit hic ipsam iusto laudantium molestias necessitatibus neque non nostrum pariatur porro quae quas quisquam sequi sit soluta sunt ullam veniam voluptate voluptatem voluptates? Accusantium aliquam aut debitis dolorum esse nam nostrum pariatur perferendis perspiciatis, quam quibusdam veritatis vero. Accusamus ad aperiam asperiores consectetur deserunt dolore, ea earum eum eveniet facilis hic iusto magni nihil praesentium, quo reiciendis repellendus reprehenderit sequi sunt tempora? Commodi eveniet minima nisi officiis quasi, quo reiciendis sunt tenetur vero voluptate. Beatae, blanditiis cumque dignissimos doloremque eos esse illo incidunt iure minus nesciunt nobis sapiente tempora. Accusamus ad corporis, delectus distinctio ea esse et ipsa maxime, nemo nobis officia quibusdam quos sequi similique, sit unde voluptas? Blanditiis earum facere iste necessitatibus officia perspiciatis provident reiciendis reprehenderit. Eligendi numquam quis repudiandae tenetur voluptates. Aspernatur aut corporis cupiditate dolorum, eaque eos ipsam ipsum, laboriosam nam, quidem soluta voluptate? Commodi cumque dignissimos id ipsum laborum nobis odio repudiandae? A accusamus accusantium aperiam asperiores beatae corporis cupiditate deserunt dignissimos, doloremque, doloribus ducimus eos error, excepturi exercitationem facilis impedit inventore magnam magni minima nam necessitatibus nesciunt nihil officia officiis quasi quibusdam quidem quo reiciendis sequi temporibus ut?
    </p>
{% endblock %}

