{% extends 'layout.html.twig' %}

{% block title %} - FAQ {% endblock %}

{% block brand %}
    <h1>FAQ*</h1>
    <h3>Foire au question</h3>
{% endblock %}

{% block body %}
    <h2>FAQ</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur corporis dolor, eaque esse exercitationem explicabo fugiat fugit harum incidunt libero, molestias nesciunt perferendis perspiciatis porro quasi quod repellat sint? Architecto aut culpa doloribus minima nesciunt non qui quibusdam reprehenderit sapiente voluptate. Aliquam architecto asperiores assumenda, consectetur consequuntur dolorem earum, est et explicabo fugit illo, in inventore ipsam iste itaque labore necessitatibus nesciunt numquam pariatur repellat repellendus repudiandae saepe ullam. Quisquam repudiandae sequi suscipit ullam veniam. Aliquam dignissimos doloribus eum ex excepturi, explicabo, fugit iusto laudantium molestias obcaecati possimus, quaerat quis tempora. Ab, amet aut consectetur culpa, doloribus dolorum eos ex hic illo magnam maiores pariatur perspiciatis, placeat quasi totam unde vitae. Aliquam deleniti eaque error inventore laborum, laudantium natus suscipit ut? Animi illum molestiae officia quisquam voluptas. Ad animi corporis cumque cupiditate, dolore earum est harum illum ipsa laborum modi necessitatibus nesciunt possimus quam quas repudiandae sequi similique voluptatum? Animi aspernatur blanditiis consequatur magni omnis quam quidem quis sint voluptates. A ad alias beatae debitis explicabo in necessitatibus perferendis quis quisquam vero. Consequatur corporis dicta dolore, doloribus eius est explicabo incidunt maiores obcaecati odit optio porro quaerat quia? Commodi eos fuga inventore molestias mollitia pariatur rem reprehenderit totam voluptas.</p>
{% endblock %}


